Repository awslabs/aws-mobile-appsync-sdk-android, pull requests merged in 2019-05, with the labels that each got.

#150 Fix inconsistent capitalization in the generated type name
  aws-android-sdk-appsync-compiler/src/main/kotlin/com/apollographql/apollo/compiler/OperationTypeSpecBuilder.kt
  aws-android-sdk-appsync-compiler/src/main/kotlin/com/apollographql/apollo/compiler/VariablesTypeSpecBuilder.kt
  aws-android-sdk-appsync-tests/src/main/graphql/com/amazonaws/mobileconnectors/appsync/demo/posts.graphql
  aws-android-sdk-appsync-tests/src/main/graphql/com/amazonaws/mobileconnectors/appsync/demo/schema.json
Labels: AppSync, Pull Request

#174 [MultiAuth] Support Multiple Authorization modes for AWSAppSyncClient
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/runConfigurations.xml
  .idea/vcs.xml
  .travis.yml
  aws-android-sdk-appsync-tests/build.gradle
  aws-android-sdk-appsync-tests/src/androidTest/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncComplexObjectsInstrumentationTests.java
  aws-android-sdk-appsync-tests/src/androidTest/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncConflictManagementInstrumentationTest.java
  aws-android-sdk-appsync-tests/src/androidTest/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncMultiClientInstrumentationTest.java
  aws-android-sdk-appsync-tests/src/androidTest/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncQueryInstrumentationTest.java
  aws-android-sdk-appsync-tests/src/androidTest/java/com/amazonaws/mobileconnectors/appsync/AppSyncTestSetupHelper.java
  aws-android-sdk-appsync-tests/src/main/assets/appsync_test_credentials.json.enc
  aws-android-sdk-appsync-tests/src/main/assets/awsconfiguration.json.enc
  aws-android-sdk-appsync-tests/src/main/graphql/com/amazonaws/mobileconnectors/appsync/demo/posts.graphql
  aws-android-sdk-appsync-tests/src/main/res/raw/awsconfiguration.json
  aws-android-sdk-appsync/src/main/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncClient.java
  aws-android-sdk-appsync/src/main/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncClientException.java
  aws-android-sdk-appsync/src/main/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncDeltaSync.java
  aws-android-sdk-appsync/src/main/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncDeltaSyncDBOperations.java
  aws-android-sdk-appsync/src/main/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncDeltaSyncSqlHelper.java
  aws-android-sdk-appsync/src/main/java/com/amazonaws/mobileconnectors/appsync/ClearCacheOptions.java
Labels: AppSync, Feature Request, Reviewing

#180 [MultiAuth] Validate client database prefix with tests
  CHANGELOG.md
  aws-android-sdk-appsync-tests/src/androidTest/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncComplexObjectsInstrumentationTests.java
  aws-android-sdk-appsync-tests/src/androidTest/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncMultiClientInstrumentationTest.java
  aws-android-sdk-appsync-tests/src/androidTest/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncQueryInstrumentationTest.java
  aws-android-sdk-appsync-tests/src/main/assets/awsconfiguration.json.enc
  aws-android-sdk-appsync/src/main/java/com/amazonaws/mobileconnectors/appsync/AWSAppSyncClient.java
  aws-android-sdk-appsync/src/main/java/com/amazonaws/mobileconnectors/appsync/ClearCacheException.java
  aws-android-sdk-appsync/src/main/java/com/amazonaws/mobileconnectors/appsync/ClearCacheOptions.java
Labels: AppSync, Feature Request

#182 Update changelog formatting
  CHANGELOG.md
Labels: AppSync, Pull Request

#181 Bump version from 2.8.3 to 2.9.0
  CHANGELOG.md
  aws-android-sdk-appsync-compiler/src/generated/kotlin/com/apollographql/android/Version.kt
  aws-android-sdk-appsync-tests/gradle.properties
  gradle.properties
Labels: AppSync, Pull Request
